body{
  background-color: rgb(219, 223, 230);
}
.profile{
  background-color: white;
  width: 100%;
  height: 400px;    
}
.Newsfeed{
  background-color: white;
  width:50%;
  height: 400px;
  margin-top: 10px;
  margin-left: 400px;
  border-radius: 3%;
   display: flex;
} 
.about{
   padding-top:1px ;
   padding-left: 10px;
   border-right: 2px solid grey;
   width:30%;

}
.about h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: black;
}
.about{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: rgb(53, 50, 50);
}  
.info h3{
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-weight: 600;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 5px;
  margin-left: 5px;

}
.info .rel{
  color: rgb(0, 81, 255);
  
}


